<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UV index</title>
</head>
<body>
    <div>

<h2>UV Index Lookup</h2>
<form action="/location" method="POST">
  <label>Latitude: <input name="lat" required /></label><br />
  <label>Longitude: <input name="lng" required /></label><br />
  <label>Altitude: <input name="alt" required /></label><br />
  <label>DateTime (ISO 8601): <input name="dt" required /></label><br />
  <button type="submit">Submit</button>
</form>
        
    </div>
</body>
</html>